@page
@model IndexModel
@{
    ViewData["Title"] = "Gnome page updated";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the updated page!</h1>
    <p>You've been <a href="https://www.letitbegnome.com/wp-content/uploads/2020/06/image.jpeg">GNOMED!</a>.</p>
</div>
